# Python 3.12.3
# essential libraries
ipykernel==6.29.5
ipython==8.30.0
matplotlib==3.9.4
matplotlib-inline==0.1.7
networkx==3.2.1
numpy==1.26.3
pillow==10.2.0
requests==2.32.3
# Editable Git install with no remote (SAM-2==1.0) # follow sam installation guide on github
-e /<path>/sam2
scikit-learn==1.6.0
scipy==1.14.1
setuptools==70.0.0
six==1.17.0
stack-data==0.6.3
sympy==1.13.1
threadpoolctl==3.5.0
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
triton==3.1.0
typing_extensions==4.9.0
urllib3==2.2.3
wcwidth==0.2.13
